:root {
    --bs-body-font-family: "Sometype Mono", sans-serif;
}

html body {
    background-image: url(background.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: auto;
}

