html body{
    margin-left: 10%;
    margin-right: 2%;
}

.card{
    margin: 0.5ch;
    height: 80%;
    overflow-y: scroll;
  
}

.node-button{
    border-radius: 0;
    background-color: #00356B;
    color: white;
    transition: box-shadow 0.3s ease;
    font-size: 100%;
}

.node-button:hover{
    background-color: #00356B;
    color: chartreuse;
    box-shadow: 6px 6px 0px #000000;
}

.node-container{
    background-color: rgb(246, 255, 247);
    padding-top: 0.5ch;
    padding-bottom: 1ch;
    border: solid 5px black;
}

#title-container{
    background-color: #00356b;
    border: solid 5px black;

}

#header{
    color: chartreuse;
    font-weight: bold;
}
