/* We want the navigation bar to be vertical, so the flex-direction is a column for this */
nav div.container {
    display: flex;	
    position: relative; 	
    height: 100%;	
    left: 0ch;	
    height: 70%;	
    justify-items: left;	

    flex-direction: column;	
}	

.bg-body-tertiary {
    --bs-bg-opacity: 0;
    background-color: transparent;
}

nav {
    height: 70%;

    display: flex;	
    position: relative; 
    flex-direction: column;	
}


ul {	
    position: fixed;	
    left: 0ch;	

    width: 15%;
    /* Max height for the whole navbar  */
    max-height: 50%;	    
    margin-bottom: 20%;	
}	

/* adjusting spacing and size of the image icons */
ul li img{	
    margin: 1.5ch;
    width: 7ch; 

    padding: 0.7ch;

    /* adding border around the icon */
    border: black solid 2px;

    /* background colour of icons are white */
    background-color: #f5f5f5;

    
}	

ul li img:hover{	
    background-color: rgba(128, 255, 0, 0.5);
}

/* resizing the navbar for smaller screens */
@media screen and (max-width: 600px) {
    ul li img{	
        margin: 1ch;	
        width: 4ch;
    }	
}