/* We want the navigation bar to be vertical, so the flex-direction is a column for this */
nav div.container {
    display: flex;	
    position: relative; 	
    height: 100%;	
    left: 0ch;	
    justify-items: left;	

    flex-direction: column;	
}	


nav {
    display: flex;	
    position: relative; 	
    height: 70%;	

    flex-direction: column;	
}

ul {	
    position: fixed;	
    left: 0ch;	

    width: 15%;	
    max-height: 80%;	
    margin-bottom: 20%;	
}	

/* adjusting spacing and size of the image icons */
ul li img{	
    margin: 2ch;	
    height: 6ch;	
}	

