html body {
    margin-left: 10%;
}

.hidden {
    display: none;
}

.text-center {
    background-color: #f5f5f5;
    width: 60%;
}

h1 {
    color: chartreuse;
    background-color: #00356b;
    font-size: 4ch;
    text-align: left;
    border-bottom-style: solid;
    border-bottom-color: #1b1b1b;
    padding-left: 3%;
}
 
.like-button {
    color: chartreuse;
    background-color: #00356b;
    border-bottom-style: solid;
    text-align: center;
    border-bottom-color: #1b1b1b;
    border-radius: 0;
    box-shadow: none;
    text-decoration: none;
    padding: 10px 20px;
    transition: box-shadow 0.3s ease;
}

.like-button:hover {
    color: chartreuse;
    background-color: #01254a;
    box-shadow: 6px 6px 0px #000000;
}

.repost-button {
    color: chartreuse;
    background-color: #00356b;
    border-bottom-style: solid;
    text-align: center;
    border-bottom-color: #1b1b1b;
    border-radius: 0;
    box-shadow: none;
    text-decoration: none;
    padding: 10px 20px;
    transition: box-shadow 0.3s ease;
}

.repost-button:hover {
    color: chartreuse;
    background-color: #01254a;
    box-shadow: 6px 6px 0px #000000;
}

.pfp-button {
    color: #000000;
    background-color: #ffffff;
    border-color: black;
}

.pfp-button:hover {
    color: #ffffff;
    background-color: #000000;
}

.likes-list-button {
    color: chartreuse;
    background-color: #00356b;
    border-bottom-style: solid;
    text-align: center;
    border-bottom-color: #1b1b1b;
    border-radius: 0;
    box-shadow: none;
    text-decoration: none;
    padding: 10px 20px;
    transition: box-shadow 0.3s ease;
}

.likes-list-button:hover {
    color: chartreuse;
    background-color: #01254a;
    box-shadow: 6px 6px 0px #000000;
}

.comment-button {
    color: #000000;
    background-color: #ffffff;
    border-color: black;
}

.comment-button:hover {
    color: #ffffff;
    background-color: #000000;
}

.comment-card {
    border-color: black;
    transition: box-shadow 0.3s ease;
}

.comment-card:hover {
    box-shadow: 6px 6px 0px #0000005d;
}

.like-comment-button {
    color: chartreuse;
    background-color: #00356b;
    border-bottom-style: solid;
    text-align: center;
    border-bottom-color: #1b1b1b;
    border-radius: 0;
    box-shadow: none;
    text-decoration: none;
    padding: 10px 10px;
    transition: box-shadow 0.3s ease;
}

.like-comment-button:hover {
    color: chartreuse;
    background-color: #01254a;
    box-shadow: 6px 6px 0px #000000;
}

a {
    text-decoration: none;
}

img {
    border: none;
    /* for making sure images are contained within the post container */
    max-width: 100%;
    height: auto;
}

.disabled-like-button {
    color: chartreuse;
    background-color: #00356b;
    border-bottom-style: solid;
    text-align: center;
    border-bottom-color: #1b1b1b;
    border-radius: 0;
    box-shadow: none;
    text-decoration: none;
    padding: 10px 20px;
}

.disabled-follow-button {
    color:#000000;
    border-color: black;
}

.view-repost-button {
    color:#000000;
    border: solid black 2px;
    background-color: white;
}

.view-repost-button:hover {
    color: #ffffff;
    background-color: #000000;
}
  
.follow-button {
    background-color: #ffffff;
    border-width: 1px;
    border-color: #00356b;
    border-radius: 0%;
}

.follow-button:hover {
    color: chartreuse;
    background-color: #00356b;
    box-shadow: 6px 6px 0px #000000;

    i {
        color: chartreuse; 
    }
}

i {
    color:#00356b;
}