/* @import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap'); */

/* html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("background.png");
    background-position: center;
    font-family: "Sometype Mono", monospace;
} */

/* input, select {
    width: 90%;
    color: #00356b;
    background-color: rgb(203, 247, 159);
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

.container {
    width: 60%;
    padding-bottom: 5%;
    border-style: solid;
    border-color: #1b1b1b;
    background-color: #f5f5f5;
    font-weight: 400;
    align-items: center;
    margin-top: 12%;
}

.container h4 {
    color: chartreuse;
    background-color: #00356b;
    font-size: 4ch;
    border-bottom-style: solid;
    border-bottom-color: #1b1b1b;
    margin: 0;
    padding-left: 3%;
}

.custom-button {
    color: chartreuse;
    background-color: #00356b;
    font-size: 2ch;
    border-bottom-style: solid;
    border-bottom-color: #1b1b1b;
    border-radius: 0;
    box-shadow: none;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    width: 30%;
    transition: box-shadow 0.3s ease;
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
}

form {
    padding-left: 3%;
}

.custom-button:hover {
    color: chartreuse;
    background-color: #01254a;
    box-shadow: 6px 6px 0px #000000;
}

button#back {
    margin: 10%;
    font-weight: 600;

    width: 3ch;
} */

#username,
#password1,
#password2,
#displayname,
#github {
    background-color: #CBF79F; 
    border-radius: 0px; 
    border-style: solid; 
    border-color: #1b1b1b;
}

button {
    color: chartreuse;
    background-color: #00356b;
    font-size: 2ch;
    border-bottom-style: solid;
    border-bottom-color: #1b1b1b;
    border-radius: 0;
    box-shadow: none;
    text-decoration: none;
    transition: box-shadow 0.3s ease;
    padding: 0.5rem;
}

button:hover {
    color: chartreuse;
    background-color: #01254a;
    box-shadow: 6px 6px 0px #000000;
}