<div class="card mb-3 p-4">
    <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            <a href="/chartreuse/authors/{{ post.user.url_id }}/" style="text-decoration: none; color:black">
                <img src="{{ post.user.profileImage }}" class="rounded-circle me-3 post-image" width="50" height="50">
            </a>
            <a href="/chartreuse/authors/{{ post.user.url_id }}/" style="text-decoration: none; color:black">
                <h5 class="card-title mb-0">{{ post.user.displayName }}</h5>
            </a>
        </div>        
        
        <meta name="csrf-token" content="{{ csrf_token }}">
        <div class="d-flex align-items-center mb-3" style="gap: 2ch;">
            <button class="btn like-button" data-post-id="{{ post.url_id }}" data-user-id="{{ viewer_id }}">{{ post.likes_count }} likes</button>
            <button class="btn follow-button" data-post-id="{{ post.url_id }}" data-user-id="{{ viewer_id }}"> {{ post.following_status }}</button>
        </div>
    </div>
    
    <a href="{% url 'chartreuse:profile_view_post' owner_id post.url_id %}" class="card-link" style="text-decoration: none;">
        <div class="post"> 
            <p class="card-title mt-2" style="text-align: left;">{{ post.title }}</p>
            {% if post.contentType == "text/plain" %}
                <p class="card-text mt-2" style="text-align: left;">{{ post.content }}</p>
            {% elif post.contentType == "text/commonmark" %}
                <p class="card-text mt-2 cm_text" style="text-align: left;">{{ post.content }}</p>
            {% elif post.contentType == "image/png" or post.contentType == "image/jpeg" %}
                <div class="d-flex justify-content-start">
                    <img src="{{ post.content }}" alt="Post Image" class="img-fluid mt-3" style="border: none; max-width: 20%;">
                </div>
            {% endif %}
            <p class="card-text mt-2" style="text-align: left;">{{ post.description }}</p>
            <p class="text-muted" style="text-align: left;">Published on {{ post.published }}</p>
        </div>  
    </a>
</div>
