{% load static %}
<div class="card mb-3 p-4 mx-4 my-3 p-3" style="border-radius: 10px;">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <!-- avatar and name -->
        <a href="/chartreuse/authors/{{ post.user.url_id }}/" class="d-flex align-items-center" style="text-decoration: none; color:black">
            <img src="{{ post.user.profileImage }}" class="rounded-circle me-3 post-image" width="50" height="50">
            <h5 class="card-title mb-0">{{ post.user.displayName }}</h5>
        </a>
        <!-- Top right: follow or edit + delete or view repost button -->
        <div class="d-flex">
            <!-- The edit + delete buttons -->
            {% if is_author and not post.repost%}
                <a href="/chartreuse/homepage/post/{{ post.url_id }}/edit/" class="btn btn-link p-0" id='edit-link' title="Edit Post">
                    <img src="{% static 'css/icons/edit-button.svg' %}" alt="Edit" width="30" height="30">
                </a>
                <a href="/chartreuse/homepage/post/{{ post.url_id }}/delete/" class="btn btn-link p-0" id='delete-link' title="Delete Post">
                    <img src="{% static 'css/icons/delete-button.svg' %}" alt="Delete" width="30" height="30">
                </a>
            {% endif %}
            <!-- The follow button -->
            {% if not is_author %}
                {% if post.following_status == "Follow" %}
                    <button class="btn follow-button" 
                            data-post-id="{{ post.url_id }}" 
                            data-user-id="{{ user_details.url_id }}"
                            data-host="{{ user_details.host }}">
                                <i class="bi bi-person-plus-fill"></i> {{ post.following_status }}
                    </button>
                {% elif post.following_status == "Following" %}
                    <button class="btn follow-button" 
                            data-post-id="{{ post.url_id }}" 
                            data-user-id="{{ user_details.url_id }}"
                            data-host="{{ user_details.host }}">
                                <i class="bi bi-check2"></i> {{ post.following_status }}
                    </button>
                {% elif post.following_status == "Pending" %}
                    <button class="btn follow-button" 
                            data-post-id="{{ post.url_id }}" 
                            data-user-id="{{ user_details.url_id }}"
                            data-host="{{ user_details.host }}">
                                <i class="bi bi-hourglass-split"></i> {{ post.following_status }}
                    </button>
                {% else %}
                <!-- The only case should be "Sign up to follow!" -->
                    <button class="btn follow-button" 
                        data-post-id="{{ post.url_id }}" 
                        data-user-id="{{ user_details.url_id }}"
                        data-host="{{ user_details.host }}">
                            {{ post.following_status }}
                    </button>
                {% endif %}
            {% endif %}
            <!-- The View post button, if it is a repost -->
            {% if post.repost %}
                <button class="btn view-repost-button" 
                        onclick="location.href='{% url 'chartreuse:profile_view_post' post.user.url_id post.url_id %}'" 
                        id="view-repost-button">
                            View Post
                </button>
            {% endif %}
        </div> 
    </div>

    <h2 class="card-title mb-3" style="font-size: 1.8rem; font-weight: bold; text-align: left;">{{ post.title }}</h2>
    
    {% if post.contentType == "text/plain" %}
        <p class="card-text" style="text-align: left;">{{ post.content|linebreaksbr }}</p>
    {% elif post.contentType == "text/markdown" %}
        <p class="card-text cm_text"  style="text-align: left;">{{ post.content|linebreaksbr }}</p>
    {% elif post.contentType == "image/png;base64" or post.contentType == "image/jpeg;base64" %}
        <div class="text-center">
            <img src="{{ post.content }}" alt="Post Image" class="img-fluid mt-3" style="border: none; max-width: 100%; object-fit: cover;">
        </div>
    {% endif %}
    
    <p class="card-text mt-4" style="text-align: left;">DESCRIPTION: {{ post.description }}</p>

    <p class="text-muted mt-3" style="font-size: 0.9rem; text-align: left;">Published on {{ post.published }}</p>

    <div class="d-flex justify-content-start align-items-center mb-2" style="gap: 1.5rem;">
        {% comment %} {% if post.has_image and logged_in and not post.repost%}
            <button class="btn pfp-button" data-post-id="{{ post.url_id }}" data-user-id="{{ user_details.url_id }}" data-host="{{ user_details.host }}">Set pfp</button>
        {% endif %} {% endcomment %}
        <button class="btn like-button" data-post-id="{{ post.url_id }}" data-user-id="{{ user_details.url_id }}" data-host="{{ user_details.host }}" id="like-post-button">{{ post.likes_count }} likes</button>

        <!-- This button will redirect the user to the page with the list of authors who liked the post -->
        <a href="{% url 'chartreuse:users_who_liked' user_url_quoted post.url_id %}" id="see-likes-link"> 
            <button class="btn likes-list-button" data-post-id="{{post.url_id}}">See Likes</button>
        </a>
            
        {% if logged_in and not post.repost and post.visibility == "PUBLIC" %}
            <button class="btn repost-button" 
                    data-post-id="{{post.url_id}}" 
                    data-user-id="{{ user_details.url_id }}" 
                    data-host="{{ user_details.host }}"
                    id="repost-post-button">
                        Repost
            </button>
        {% endif %}
        
    </div>
    {% if not post.repost %}
        <div class="mt-5">
            <h3 style="text-align: left;">Comments</h3>
        
            {% if logged_in %}
                {% csrf_token %}
                <div class="mb-3" style="text-align: left;">
                    <textarea class="form-control" name="comment" id="comment-text" rows="3" placeholder="Add a comment..." required></textarea>
                </div>
                <button type="submit" 
                        data-post-id="{{ post.url_id }}" 
                        data-user-id="{{ user_details.url_id }}" 
                        class="btn comment-button" 
                        style="width: auto; display: block; text-align: left;"
                        id="add-comment-button">
                            Submit Comment
                </button>
            {% endif %}

            <br></br>
        
            <div id="comments-section">
                {% for comment in comments %}
                    <div class="card comment-card mb-3 p-4" style="border-radius: 10px;">
                        <div class="d-flex mb-4 align-items-center">
                            <a href="/chartreuse/authors/{{ comment.user.url_id }}/" style="text-decoration: none; color:black;">
                                <img src="{{ comment.user.profileImage }}" alt="{{ comment.user.displayName }} Avatar" class="rounded-circle me-3" width="40" height="40">
                            </a>
                            <div class="flex-grow-1 text-center" style="background-color: white;">
                                <a href="/chartreuse/authors/{{ comment.user.url_id }}/" style="text-decoration: none; color:black; text-align: left; background-color: white;">
                                    <h5 class="mb-0">{{ comment.user.displayName }}</h5>
                                </a>
                            </div>
                            <div class="d-flex align-items-center ms-2">
                                {% if comment.is_author %}
                                    <a href="/chartreuse/comment/{{ comment.url_id }}/delete/" class="btn btn-link p-0" title="Delete Comment">
                                        <img src="{% static 'css/icons/delete-button.svg' %}" alt="Delete" width="30" height="30">
                                    </a>
                                {% endif %}
                                <button class="btn like-comment-button ms-2" 
                                        data-post-id="{{ post.url_id }}" 
                                        data-user-id="{{ user_details.url_id }}" 
                                        data-comment-id="{{ comment.url_id }}" 
                                        data-host="{{ user_details.host }}"
                                        id="like-comment-button">
                                    {{ comment.likes_count }} likes
                                </button>
                            </div>
                        </div>
                        <p style="text-align: left;">{{ comment.comment }}</p>
                        <p style="text-align: left;">Commented on {{ comment.dateCreated }}</p>
                    </div>
                {% empty %}
                    <p style="width: auto; display: block; text-align: left;">No comments yet. Be the first to comment!</p>
                {% endfor %}
            </div>  
                                                    
        </div>
    {% endif %}
</div>

<script>
    // Resource: Stack Overflow post: https://stackoverflow.com/questions/37860903/how-to-disable-href-after-one-click
    // How to disable href after one click
    // Reason: wanted to prevent multiple clicks on same delete button clicked! and preventing editting a deleted post!
    // Answered by: Rahul Tripathi, June 16, 2016
    const deleteButton = document.getElementById('delete-link');
    const commentButton = document.getElementById('add-comment-button');
    const likeButton = document.getElementById('like-post-button');
    const editButton = document.getElementById('edit-link');
    const repostButton = document.getElementById('repost-post-button');
    const seeLikesButton = document.getElementById('see-likes-link');
    var deleteClicked = false;

    if (deleteButton !== null){
        deleteButton.addEventListener('click',(event)=>{
            if (deleteClicked){
                event.preventDefault();
            }else{
                deleteClicked = true;
                commentButton.disabled = 'disabled';
                likeButton.disabled = 'disabled';
                repostButton.disabled = 'disabled';
                seeLikesButton.disabled = 'disabled';
            }
        });

        editButton.addEventListener('click', (event)=>{
            if (deleteClicked){
                event.preventDefault();
            }
        });
    }
</script>