{% extends 'base.html' %}
{% load static %}

{% block title %}chartreuse.node-remote-authors{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/discover_authors.css' %}">
    
</head>
<body class="bg-light">
    
    {% block sidenav %}
        {% include 'navbar.html' %}
    {% endblock %}

    <div class="container" id="title-container">
        <div class="row">
            <div class="col-11">
                <h4 id="header">chartreuse.remote-authors</h4>
            </div>

            <div class="col-1">
                <!-- back button to get to discover node page  -->
                <button id="back" type="button" class="custom-button">X</button>
            </div>
            
        </div>
    </div>
    <div class="container node-container">
        <div class="row">
            <div class="col-12">
                <h3><b>Tread carefully,</b> you're exploring authors in the wilderness of: <span id='host-page-message'><b><u>{{ host }}</u></b></span></h3>
            </div>
        </div>
        {% if authors %}
            <div class="card">
                <p>Displaying {{ item_amount }} remote authors:</p>
                {% for author in authors %}
                    <!-- Create clickable cards to be navigation tools to the other nodes authors... -->
                    <div class="author">
                        <img src="{{author.profileImage}}" class="img-fluid" style="width: 50px; height: 50px; object-fit: cover;">
                        <h5 style="display:inline">{{author.displayName}}</h5>
                        {% if author.url_id == current_user_url_id %}
                            <p class="your-profile-remote"> This is you </p>
                        {% else %}
                            <button class="view-profile-button btn btn-primary view-profile-button" url-id="{% url 'chartreuse:profile' url_id=author.url_id %}">View Profile</button>   
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="card">
                <h3>You've reached uncharted territory... </h3>
            </div>
        {% endif %}

        <div class="row" id="page_buttons">
            {% if has_first %}
                <div class="col-5">
                    <button id="first-button">First</button>
                </div>
                <div class="col-1">
                    <button id="previous-button" current="{{ page_number }}">Previous</button>
                </div>
            {% endif %}
            {% if has_next %}
                <div class="col-1">
                    <button id="next-button" current="{{ page_number }}">Next</button>
                </div>
            {% endif %}
        </div>
    </div>
    <script src="{% static 'javascript/page_header.js' %}"></script>

    <script>
        window.addEventListener('load', main); 

        function main() {
            document.querySelectorAll(".view-profile-button").forEach((button)=>{
                button.addEventListener('click',function(event){
                    let location = this.getAttribute("url-id");
                    window.location.href = location;
                });
            });

            let searchParams = new URLSearchParams(window.location.search);


            
            // https://stackoverflow.com/questions/5999118/how-can-i-add-or-update-a-query-string-parameter
            // Stack Overflow Post: How can I add or update a query string paramater?
            // Purpose: Used to learn how to update a query string in a url using js
            // Code inspired by post reponse by: Anthony Manning-Franklin on January 9, 2017
            let next = document.getElementById('next-button');
            let previous = document.getElementById('previous-button');
            let first = document.getElementById('first-button');

            if (next !== null){
                next.addEventListener('click',function(event){
                    let currentPage = next.getAttribute('current');
                    let page = Number(currentPage) + 1;
                    searchParams.set('page',page);
                    window.location.search = searchParams.toString();
                });
            }

            // if previous is not null then we know first is not null too.
            if (previous !== null){
                previous.addEventListener('click',function(event){
                    let currentPage = previous.getAttribute('current');
                    let page = Number(currentPage) - 1;
                    searchParams.set('page',page);
                    window.location.search = searchParams.toString();
                });
                
                first.addEventListener('click', function(event){
                    searchParams.set('page',1);
                    window.location.search = searchParams.toString();
                });
            }


            // Asked OpenAI, ChatGPT how I can make a button redirect me to a specific page using JS, "how can I make a button take me to a specific page with JS?" and 
            // "it says the function goToPage() is undefined. How do I fix this?", followed the addEventListener solution, 2024-11-21.
            document.getElementById('back').addEventListener('click', function() {
                window.location.href = "{% url 'chartreuse:discover_nodes' %}";
            });

           

        }
    </script>




</body>
{% endblock %}