{% extends 'base.html' %}
{% load static %}

{% block title %}chartreuse.node-connections{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/discover_node.css' %}">
    
</head>
<body class="bg-light">
    
    {% block sidenav %}
        {% include 'navbar.html' %}
    {% endblock %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4>chartreuse.node-connections</h4>
            </div>
        </div>
    </div>
    <div class="container">
        {% if hostnames %}
            <div class="card">
                {% for host in hostnames %}
                    <!-- Create clickable cards to be navigation tools to the other nodes authors... -->
                    <div class="row">
                        <div class="col-10 offset-1">
                            <button class="btn btn-primary btn-lg w-100 node-button" node-host="{{host}}">Discover {{host}} authors</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <h3>This node has no outgoing connections. </h3>
        {% endif %}
    </div>


</body>
{% endblock %}
