{% extends 'base.html' %}
{% load static %}

{% block title %}chartreuse.edit-post{% endblock %}

{% block extra_head %}
<head>    
    <link rel="stylesheet" href="{% static 'css/add_post.css' %}">
    
</head>
{% endblock %}

{% block content %}
<body>
    {% block sidenav %}
        {% include 'navbar.html' %}
    {% endblock %}
    <div class="container vh-100 d-flex justify-content-center align-items-center">
        
        <div class="text-center">
            <div class="container" id="header-box">
                <div class="row">
                    <div class="col-11">
                        <h4 class="mb-4" style="text-align: left;">chartreuse.edit-post</h4>
                    </div>
        
                    <div class="col-1">
                        <!-- back button to get to discover node page  -->
                        <button id="back" type="button" class="custom-button">X</button>
                    </div>
                    
                </div>
            </div>
            
            <div class="mx-4 my-3 p-3">
                <form method="POST" action="/chartreuse/homepage/post/{{ post.url_id }}/update/" id="edit-form-submit" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                <label for="title" class="form-label">Post Title</label>
                <input type="text" class="form-control" id="title" name="title" required value="{{ post.title }}">
    
                <label for="description" class="form-label">Post Description</label>
                <input type="text" class="form-control" id="description" name="description" required value="{{ post.description }}">
    
                <label class="form-label mt-3">Choose Content Type</label>
                <div class="d-flex justify-content-center mb-3">
                    {% if post.contentType == "text/plain" %}
                        <div class="form-check me-3">
                            <input class="form-check-input" type="radio" name="content_type" id="textOption" value="text" checked>
                            <label class="form-check-label" for="textOption">Text</label>
                        </div>
                        <div class="form-check me-3">
                            <input class="form-check-input" type="radio" name="content_type" id="commonmarkOption" value="commonmark">
                            <label class="form-check-label" for="commonmarkOption">
                                Commonmark
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="content_type" id="imageOption" value="image">
                            <label class="form-check-label" for="imageOption">Image</label>
                        </div>
                    {% elif post.contentType == "image/png" or post.contentType == "image/jpg" %}
                        <div class="form-check me-3">
                            <input class="form-check-input" type="radio" name="content_type" id="textOption" value="text">
                            <label class="form-check-label" for="textOption">Text</label>
                        </div>
                        <div class="form-check me-3">
                            <input class="form-check-input" type="radio" name="content_type" id="commonmarkOption" value="commonmark">
                            <label class="form-check-label" for="commonmarkOption">
                                Commonmark
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="content_type" id="imageOption" value="image" checked>
                            <label class="form-check-label" for="imageOption">Image</label>
                        </div>
                    {% else %}
                        <div class="form-check me-3">
                            <input class="form-check-input" type="radio" name="content_type" id="textOption" value="text">
                            <label class="form-check-label" for="textOption">Text</label>
                        </div>
                        <div class="form-check me-3">
                            <input class="form-check-input" type="radio" name="content_type" id="commonmarkOption" value="commonmark" checked>
                            <label class="form-check-label" for="commonmarkOption">
                                Commonmark
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="content_type" id="imageOption" value="image">
                            <label class="form-check-label" for="imageOption">Image</label>
                        </div>
                    {% endif %}
                </div>
    
                <article style="font-weight: 500; font-size: small;">
                    If you're making a commonmark post with an image post url from our site, please make sure the URL ends with "/image". <br> 
                    For more information about commonmark syntax, check out this <a href="https://commonmark.org/help/">link</a>. <br> 
                </article>

                {% if post.contentType == "text/plain" %}
                    <div id="textContent">
                        <label for="content" class="form-label">Content</label>
                        <textarea class="form-control" id="content" name="content" rows="5">{{ post.content }}</textarea>
                    </div>
    
                    <div id="imageContent" class="hidden">
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="radio" name="image_type" id="uploadImageOption" value="upload" checked>
                            <label class="form-check-label" for="uploadImageOption">Upload Image</label>
                        </div>
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="radio" name="image_type" id="urlImageOption" value="url">
                            <label class="form-check-label" for="urlImageOption">Provide Image URL</label>
                        </div>
    
                        <div id="uploadImageContent">
                            <label for="image" class="form-label">Upload Image</label>
                            <input type="file" class="form-control" id="image" name="image">
                        </div>
    
                        <div id="urlImageContent" class="hidden">
                            <label for="image_url" class="form-label">Image URL</label>
                            <input type="url" class="form-control" id="image_url" name="image_url" placeholder="Enter image URL">
                        </div>
                    </div>
                {% elif post.contentType == "image/png" or post.contentType == "image/jpg" %}
                    <div id="textContent" class="hidden">
                        <label for="content" class="hidden">Content</label>
                        <textarea class="form-control" id="content" name="content" rows="5"></textarea>
                    </div>
    
                    <div id="imageContent">
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="radio" name="image_type" id="uploadImageOption" value="upload" checked>
                            <label class="form-check-label" for="uploadImageOption">Upload Image</label>
                        </div>
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="radio" name="image_type" id="urlImageOption" value="url">
                            <label class="form-check-label" for="urlImageOption">Provide Image URL</label>
                        </div>
    
                        <div id="uploadImageContent">
                            <label for="image" class="form-label">Upload Image</label>
                            <input type="file" class="form-control" id="image" name="image">
                        </div>
    
                        <div id="urlImageContent" class="hidden">
                            <label for="image_url" class="form-label">Image URL</label>
                            <input type="url" class="form-control" id="image_url" name="image_url" placeholder="Enter image URL">
                        </div>
                    </div>
                {% else %}
                    <div id="textContent">
                        <label for="content" class="form-label">Content</label>
                        <textarea class="form-control" id="content" name="content" rows="5">{{ post.content }}</textarea>
                    </div>

                    <div id="imageContent" class="hidden">
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="radio" name="image_type" id="uploadImageOption" value="upload" checked>
                            <label class="form-check-label" for="uploadImageOption">Upload Image</label>
                        </div>
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="radio" name="image_type" id="urlImageOption" value="url">
                            <label class="form-check-label" for="urlImageOption">Provide Image URL</label>
                        </div>

                        <div id="uploadImageContent">
                            <label for="image" class="form-label">Upload Image</label>
                            <input type="file" class="form-control" id="image" name="image">
                        </div>

                        <div id="urlImageContent" class="hidden">
                            <label for="image_url" class="form-label">Image URL</label>
                            <input type="url" class="form-control" id="image_url" name="image_url" placeholder="Enter image URL">
                        </div>
                    </div>
                {% endif %}
    
                <!-- Visibility Dropdown -->
                <label for="visibility" class="form-label mt-3">Visibility</label>
                <select class="form-select" id="visibility" name="visibility">
                    <option value="PUBLIC" {% if post.visibility == "PUBLIC" %}selected{% endif %}>Public</option>
                    <option value="UNLISTED" {% if post.visibility == "UNLISTED" %}selected{% endif %}>Unlisted</option>
                    <option value="FRIENDS" {% if post.visibility == "FRIENDS" %}selected{% endif %}>Friends Only</option>
                </select>

                <br></br>
    
                <div class="gap-2 d-flex justify-content-center mb-3">
                    <button type="submit" class="btn btn-primary" id='edit-post-sumbit' style="color: chartreuse; background-color: #00356b;">Update Post</button>
                    <a href="javascript:history.back()" class="btn btn-secondary">Cancel</a>
                </div>
                
                </form>
            </div>
        </div>
    </div>

    <script>
        const textOption = document.getElementById('textOption');
        const imageOption = document.getElementById('imageOption');
        const commonmarkOption = document.getElementById('commonmarkOption');
        const textContent = document.getElementById('textContent');
        const imageContent = document.getElementById('imageContent');
        const uploadImageOption = document.getElementById('uploadImageOption');
        const urlImageOption = document.getElementById('urlImageOption');
        const uploadImageContent = document.getElementById('uploadImageContent');
        const urlImageContent = document.getElementById('urlImageContent');
        const textArea = document.getElementById('content');
        const imageInput = document.getElementById('image');
        const imageUrlInput = document.getElementById('image_url');
        const submitButton = document.getElementById('edit-post-submit');
        const makePostForm = document.getElementById('edit-post-form');

        // On November 30, 2024 asked OpenAI ChatGPT how to disable a button on form submit when the form is only valid!
        makePostForm.addEventListener('submit', function(event){
            if (this.checkValidity()){
                submitButton.disabled = 'disabled';
            };
        })

    
        textOption.addEventListener('change', function() {
            if (textOption.checked) {
                textContent.classList.remove('hidden');
                imageContent.classList.add('hidden');
                textArea.required = true;
                imageInput.required = false;
                imageUrlInput.required = false;
                imageInput.value = '';
                imageUrlInput.value = '';
            }
        });

        commonmarkOption.addEventListener('change', function() {
            if (commonmarkOption.checked) {
                textContent.classList.remove('hidden');
                imageContent.classList.add('hidden');
                textArea.required = true;
                imageInput.required = false;
                imageUrlInput.required = false;
                imageInput.value = '';
                imageUrlInput.value = '';
            }
        });
    
        imageOption.addEventListener('change', function() {
            if (imageOption.checked) {
                imageContent.classList.remove('hidden');
                textContent.classList.add('hidden');
                textArea.required = false;
                textArea.value = '';
                if (uploadImageOption.checked) {
                    imageInput.required = true;
                    imageUrlInput.required = false;
                } else {
                    imageInput.required = false;
                    imageUrlInput.required = true;
                }
            }
        });
    
        uploadImageOption.addEventListener('change', function() {
            if (uploadImageOption.checked) {
                uploadImageContent.classList.remove('hidden');
                urlImageContent.classList.add('hidden');
                imageInput.required = true;
                imageUrlInput.required = false;
                imageUrlInput.value = '';
            }
        });
    
        urlImageOption.addEventListener('change', function() {
            if (urlImageOption.checked) {
                urlImageContent.classList.remove('hidden');
                uploadImageContent.classList.add('hidden');
                imageInput.required = false;
                imageUrlInput.required = true;
                imageInput.value = '';
            }
        });

        document.querySelector('form').addEventListener('submit', function(e) {
            console.log('Form is being submitted');
        });

        // Asked OpenAI, ChatGPT how I can make a button redirect to the last visited page (back button), "how to make a back button with JS", 2024-11-21.
        document.getElementById('back').addEventListener('click', function() {
            window.history.back();
        });


    </script>    
</body>
{% endblock %}