{% extends 'base.html' %}
{% load static %}

{% block title %}chartreuse.follow_list{% endblock %}

{% block extra_head %}
<head>
        <link rel="stylesheet" href="{% static 'css/follow_list.css' %}">

</head>
{% endblock %}

{% block content %}
    <body>

        {% block sidenav %}
            {% include 'navbar.html' %}
        {% endblock %}

        <div class="container">
            <div class="container full-container" id="follow-list-header">
                <h4>{{user.displayName}}.{{relationship}}</h4>
                <button id="back" type="button" url-id="{% url 'chartreuse:profile' user.url_id %}" class="custom-button">X</button>
            </div>
            <div class="container full-container" id="container-item-box">
                {% if follows %}
                    {% for follow in follows %}
                    
                    <div class="follower-box">
                        <img src="{{follow.profileImage}}" class="rounded img-fluid" style="width: 50px; height: 50px; object-fit: cover;">
                        <h5 style="display:inline">{{follow.displayName}}</h5>
                        <button class="view-profile-button btn btn-primary view-profile-button" url-id="{% url 'chartreuse:profile' follow.url_id %}">View Profile</button>   
                    </div>
                    {% endfor %}
                {% else %}
                <h1 class="text-center">there's nothing here... :(</h1>

                {% endif %} 
            </div>
        </div>
        
        <script>
            window.addEventListener('load', main); 
    
            function main() {
                document.querySelectorAll(".view-profile-button").forEach((button)=>{
                    button.addEventListener('click',function(event){
                        let location = this.getAttribute("url-id");
                        window.location.href = location;
                    });
                });

                let backButton = document.getElementById("back");
    
                backButton.addEventListener('click', function(event){
                    window.location.href = this.getAttribute("url-id"); 
                 });

            }
    
            
        </script>

    </body>
{% endblock %}