{% extends 'base.html' %}
{% load static %}

{% block title %}Chartreuse{% endblock %}

{% block extra_head %}
<head>
    <meta name="date" content="2024-10-12">
    <meta name="tags" content="welcome">
    <meta name="summary" content="Welcome page with signup and login buttons.">
   

    <link rel="stylesheet" href="../static/css/landing_page.css">
</head>
{% endblock %}

{% block content %}
<body>
    <div class="container">
        <h4 class="mb-4" id="header">Welcome_to_Chartreuse!</h4>
        <p class="lead mb-4">Join us today and connect with your friends, share posts, and much more!</p>

        <div class="buttons">
            <a href="signup" class="btn custom-button me-3 p-2">Sign Up</a>
            <a href="login" class="btn custom-button p-2">Login</a>
        </div>
    </div>

    <script src="{% static 'javascript/page_header.js' %}"></script>
</body>
{% endblock %}

