{% extends "base.html" %}

{% load static %}

{% block extra_head %}
    <meta name="date" content="2024-10-12">
    <meta name="tags" content="Log in">
    <meta name="summary" content="Login page.">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid min-vh-100 w-100 d-flex flex-column justify-content-center align-items-center">
    <div class="container w-50" style="color: chartreuse; background-color: #00356b; font-size: 4ch; border-style: solid; border-color: #1b1b1b;">
        <h4>Log in</h4>
    </div>
    <div class="container px-5 py-3 w-50" style="background-color:#f5f5f5; border-style: solid; border-color: #1b1b1b;">
        <p class="text-center">Let's log in!</p>
        <form method="POST" action="authenticate/">
            {% csrf_token %}
            <div class="my-1">
                <input id="username" name="username" type="text" class="form-control" required placeholder="Enter your username"/>
            </div>
            <div class="my-1">
                <input id="password" name="password" type="password" class="form-control" required placeholder="Enter your password"/>
            </div>
            <button type="submit" class="d-block mx-auto my-3">Log In</button>
        </form>
        <div class="text-center">
            <a href="/chartreuse/signup">Don't have an account? Sign Up</a><br>
            <a href="/chartreuse/homepage/">Skip logging in and view as a guest user</a>
        </div>
    </div>
</div>
<script>
    window.addEventListener('load', () => {
        // handle form errors
        const form = document.querySelector('form');
        form.addEventListener('submit', (event) => {
            // prevent the form from submitting just yet
            event.preventDefault();
            const formData = new FormData(form);
            const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value; // get the csrf token
            
            fetch('authenticate/', {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': csrfToken, // include the csrf token in headers
                }
            })
            .then(response => {
                if(response.redirected) {
                    window.location.href = response.url; // if everything goes well, redirect to the homepage
                } else {
                    return response.json();
                }
            })
            .then(data => {
                document.querySelectorAll('.errorMessage').forEach(element => {
                    element.remove(); // remove any previous error messages
                });

                const dataError = data.error;
                let inputElement = null;
                if (dataError === 'Invalid password.') {
                    inputElement = document.getElementById('password');
                } else {
                    inputElement = document.getElementById('username');
                }
                const p = document.createElement('p');
                p.className = 'errorMessage';
                p.textContent = dataError;
                p.style.color ='red';
                inputElement.insertAdjacentElement('afterend', p);
            });
        });
    });
</script>
{% endblock %}