<form method="POST" action="save/">
    {% csrf_token %}
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input id="username" name="username" type="text" class="form-control" required placeholder="Enter your username"/>
    </div>
    <div class="mb-3">
        <label for="password1" class="form-label">Password</label>
        <input id="password1" name="password1" type="password" class="form-control" required placeholder="Enter your password"/>
    </div>
    <div class="mb-3">
        <label for="password2" class="form-label">Confirm Password</label>
        <input id="password2" name="password2" type="password" class="form-control" required placeholder="Confirm your password"/>
    </div>
    <div class="mb-3">
        <label for="displayname" class="form-label">Display Name</label>
        <input id="displayname" name="displayname" type="text" class="form-control" required placeholder="Enter your display name"/>
    </div>
    <div class="mb-3">
        <label for="github" class="form-label">Github (Optional)</label>
        <input id="github" name="github" type="url" class="form-control" placeholder="Your GitHub URL"/>
    </div>
    <div class="mb-3">
        <label for="profile-image" class="form-label">Profile Image Link</label>
        <input id="profile-image" name="profile-image" type="url" class="form-control" placeholder="Profile Image URL"/>
    </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
</form>
