{% extends "base.html" %}
{% load static %}

{% block title %}chartreuse.test{% endblock %}

{% block extra_head %}
    <style>
        html body {
            margin-left: 10%;
        }
    </style>

    <script type="module">
        import "https://unpkg.com/commonmark@0.29.3/dist/commonmark.js";

        'use strict'
        

        window.addEventListener('load', main);

        function main() {
            const commonmark = window.commonmark;

            // variable to track the html element for displaying the commonmark text
            // error that this string is used before assignment. maybe bc the cm_text isnt valid yet???
            // cm_String = document.getElementById("cm_text");
            var markString = document.getElementById('cm_content').innerText;

            // let testString = getElementById("test");
            // will need to bundle with esbuild command for the browser import mini package
            var reader = new commonmark.Parser({smart: true});
            var writer = new commonmark.HtmlRenderer({sourcepos: true, safe: true, softbreak: "<br />"});
            var parsed = reader.parse(markString); // parsed is a 'Node' tree
            // transform parsed if you like...
            var result = writer.render(parsed); // result is a String

            
            // // sets the text to be shown in html file as the rendered Commonmark text 
            document.getElementById("cm_text").innerHTML = result;
        };

        
    </script>

{% endblock %}

{% block content %}

    {% block sidenav %}
        {% include 'navbar.html' %}
    {% endblock %}
   
    <h2>chartreuse.test</h2>

    
    <p id="test"># This is testing</p>

    <p class="card-text" id="cm_content" style="display: none;">{{ markdown_txt }}</p>
    
    <!-- rendered commonmark text shows here -->
    <p id="cm_text"></p>

{% endblock %}