{% extends "base.html" %}
{% load static %}

{% block title %}chartreuse.test{% endblock %}

{% block extra_head %}
    <style>
        html body {
            margin-left: 10%;
        }
    </style>

{% endblock %}

{% block content %}

    {% block sidenav %}
        {% include 'navbar.html' %}
    {% endblock %}
   
    <h2>chartreuse.test</h2>

    
    <p># This is testing</p>

    <!-- Seems like I can just put the rendered  -->
    <p class="card-text cm_text" id="cm_content">{{ markdown_txt }}</p>

    <script src="{% static 'javascript/cm_render.js' %}"></script> <!-- Load JS for commonmark -->
    
{% endblock %}