{% extends 'base.html' %}
{% load static %}

{% block title %}chartreuse.view_post{% endblock %}

{% block extra_head %}
    
    <meta name="description" content="Detailed view of the post">
    <link rel="stylesheet" href="{% static 'css/post_view.css' %}">
{% endblock %}

{% block content %}

    {% block sidenav %}
        {% include 'navbar.html' %}
    {% endblock %}

    <!-- Center the container horizontally and vertically -->
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="text-center" style="border: solid; border-color: black;">
            <h1 class="mb-4">chartreuse.post</h1>
                <div class="card mb-3 p-4 mx-4 my-3 p-3" style="border-radius: 10px;">
                    <div class="d-flex mb-4">
                        <a href="/chartreuse/authors/{{ post.user.url_id }}/" style="text-decoration: none; color:black">
                            <img src="{{ post.user.profileImage }}" alt="{{ post.user.displayName }} Avatar" class="rounded-circle me-3" width="50" height="50">
                        </a>
                        <div class="d-flex justify-content-between align-items-center w-100">
                            <a href="/chartreuse/authors/{{ post.user.url_id }}/" style="text-decoration: none; color:black">
                                <div>
                                    <h5 class="">{{ post.user.displayName }}</h5>
                                </div>
                            </a>
                            {% if is_author %}
                                <div class="d-flex">
                                    <a href="/chartreuse/homepage/post/{{ post.url_id }}/edit/" class="btn btn-link p-0" title="Edit Post">
                                        <img src="{% static 'css/icons/edit-button.svg' %}" alt="Edit" width="30" height="30">
                                    </a>
                                    <a href="/chartreuse/homepage/post/{{ post.url_id }}/delete/" class="btn btn-link p-0" title="Delete Post">
                                        <img src="{% static 'css/icons/delete-button.svg' %}" alt="Delete" width="30" height="30">
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
            
                    <h2 class="card-title mb-3" style="font-size: 1.8rem; font-weight: bold; text-align: left;">{{ post.title }}</h2>
                    
                    {% if post.contentType == "text/plain" %}
                        <p class="card-text" style="text-align: left;">{{ post.content }}</p>

                    {% elif post.contentType == "text/commonmark" %}
                        <p class="card-text" id="cm_text" style="text-align: left;">{{ post.content }}</p>

                    {% elif post.contentType == "image/png" or post.contentType == "image/jpeg" %}
                        <div class="text-center">
                            <img src="{{ post.content }}" alt="Post Image" class="img-fluid mt-3" style="border: none; max-width: 100%; object-fit: cover;">
                        </div>
                    {% endif %}
                    
                    <p class="card-text mt-4" style="text-align: left;">{{ post.description }}</p>

                    <p class="text-muted mt-3" style="font-size: 0.9rem; text-align: left;">Published on {{ post.published }}</p>
            
                    <div class="d-flex justify-content-start align-items-center mb-2" style="gap: 1.5rem;">
                        {% if not is_author %}
                        <button class="btn follow-button" data-post-id="{{ post.url_id }}" data-user-id="{{ user_details.url_id }}" data-host="{{ user_details.host }}"> {{ post.following_status }}</button>
                        {% endif %}
                        {% if post.has_image %}
                        <button class="btn pfp-button" data-post-id="{{ post.url_id }}" data-user-id="{{ user_details.url_id }}" data-host="{{ user_details.host }}">Set pfp</button>
                        {% endif %}
                        <button class="btn like-button" data-post-id="{{ post.url_id }}" data-user-id="{{ user_details.url_id }}" data-host="{{ user_details.host }}">{{ post.likes_count }} likes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="{% static 'javascript/home_page.js' %}"></script>
    <script src="{% static 'javascript/cm_render.js' %}"></script> <!-- Load bundled JS for commonmark -->
{% endblock %}
